@model IEnumerable<IllinoisProject.Models.AccountBlogPost>

<link rel="stylesheet" href="~/css/site.css" />

<!-- Add the profile icon code here -->
<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
            <a asp-controller="BlogPost" asp-action="AllDraft"> My Drafts </a>
            <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
            <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>

        </div>
        <div class="navbar-right">
            <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
            <a asp-controller="Account" asp-action="MyAccount">MyAccount</a>

        </div>
    </div>
</nav>

<h3> My Account Information</h3>

@if (Model.Count() < 1)
{
    <p>No accounts yet.</p>
}
else
{
    <table border="1">
        <thead>
            <tr>
                <th>Account ID</th>
                <th>Account Name</th>
                <th>Username</th>
                <th>Blog Posts</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="dataBody">
            @foreach (var account in Model)
            {
                <tr>
                    <td>@account.Id</td>
                    <td>@account.Account.Name</td>
                    <td>@account.Account.UserName</td>
                    <td>
                        @foreach (var blogPost in Model)
                        {
                            <div>
                                @blogPost.BlogPost.BlogName
                            </div>
                        }
                    </td>
                    <td><a asp-action="EditAccount" asp-route-id="@account.Id">Edit</a></td>
                    <td><a asp-action="DeleteAccount" asp-route-id="@account.Id">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
