@model IllinoisProject.Models.Account

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/AllAccount.css" />

<!-- Add the profile icon code here -->
<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
                <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
                <a asp-controller="BlogPost" asp-action="AllDraft"> Drafts </a>
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
            else
            {
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
        </div>
        <div class="navbar-right">
            <div class="navbar-right">
                <!-- Only shows account stuff if the user is logged in-->
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
                    
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Login</a>
                    <a asp-controller="Account" asp-action="Register">Register</a>
                }
            </div>
        </div>
    </div>
</nav>

<h3> My Account Information</h3>

@if (Model == null)
{
    <p>No account yet.</p>
}
else
{
    <div>
        <h3>Account Information</h3>
        <p>Account ID: @Model.Id</p>
        <p>Account Name: @Model.Name</p>
        <p>Username: @Model.UserName</p>
        <p><a asp-action="EditAccount" asp-route-id="@Model.Id">Edit</a></p>
        <p><a asp-action="DeleteAccount" asp-route-id="@Model.Id">Delete</a></p>
    </div>

    <div>
        <h3>Blog Posts</h3>
        @if (Model.AccountBlogPosts.Count < 1)
        {
            <p>No blog posts yet.</p>
        }
        else
        {
            <ul>
                @foreach (var blogPost in Model.AccountBlogPosts)
                {
                    <li>@blogPost.BlogPost.BlogName</li>
                }
            </ul>
        }
    </div>
}
