@model IEnumerable<IllinoisProject.Models.AccountBlogPost>


<link rel="stylesheet" href="~/css/AllBlogPost.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<link rel="stylesheet" href="~/css/Search.css" />
<!-- Add the profile icon code here -->
<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
                <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
                <a asp-controller="BlogPost" asp-action="AllDraft"> Drafts </a>
            }
            <!-- You can add an "else" section here if needed -->
        </div>
        <div class="navbar-right">
            <!-- Only shows account stuff if the user is logged in-->
            @if (User.Identity.IsAuthenticated)
            {
                    <div class="account-actions">
                        <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
                        <a asp-controller="Account" asp-action="MyAccount">MyAccount</a>
                        <form asp-controller="Account" asp-action="Logout" method="post">
                            <button class="logout-button" type="submit">Logout</button>
                        </form>
                    </div>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Login</a>
                <a asp-controller="Account" asp-action="Register">Register</a>
            }
        </div>
    </div>
</nav>
<br />
<input type="text" id="searchInput" onkeyup="searchFunction()" placeholder="Search for blogs">
<br />

<h3>Published Blogs</h3>


<script>
    function searchFunction() {
        var input, filter, cards, i, title;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        cards = document.querySelectorAll(".blog-post-card");

        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector("h4");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>

<div class="blog-posts-container">
    @if (Model.Any())
    {
        foreach (var blogPost in Model)
        {
            <div class="blog-post-card">
                <h4>@blogPost.BlogPost.BlogName</h4>
                <p class="post-date">Posted on: @blogPost.BlogPost.PostDate.ToShortDateString() by @blogPost.Account.Name</p>
                <p class="blog-description">@blogPost.BlogPost.BlogDescription</p>
                <div class="blog-post-actions">
                    <span>Comments: @blogPost.BlogPost.Comments.Count</span>
                    <a asp-action="ViewBlogPost" asp-route-id="@blogPost.BlogPost.Id">View Post</a>
                </div>
            </div>
        }
    }
    else
    {
        <p>No Blogs yet.</p>
    }
</div>

