@model IEnumerable<IllinoisProject.Models.BlogPost>

<link rel="stylesheet" href="~/css/site.css" />


<!-- Add the profile icon code here -->
<div class="profile-icon">

    <a asp-controller="Account" asp-action="EditAccount" method="post">
        <input type="hidden" asp-route-id="@User.Identity.Name" />
        <img src="~/images/.png" alt="Profile Icon" class="profile-image">
    </a>
</div>
    <p>
        <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
    </p>
    <h3>Published Blogs</h3>
@{
    if (Model.Count() < 1)
    {
        <p>No Blogs yet.</p>
    }
    else
    {
        <table border="1">
            <tr>
                <th>Date Posted</th>
            <th>Blog name</th>
            <th>Blog Description</th>
             <th>Account Name</th>
             <th>Edit</th>
             <th>Delete</th>

            
            </tr>
            @{
                foreach (var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.PostDate</td>
                        <td>@blogPost.BlogName</td>
                        <td>@blogPost.BlogDescription</td>
                        <td>@blogPost.Account.AccountName</td>
                       

                        <td><a asp-action="EditBlogPost" asp-route-id="@blogPost.BlogPostId">Edit</a></td>
                        
                        <td><a asp-action="DeleteBlogPost" asp-route-id="@blogPost.BlogPostId">Delete</a></td>
                        
                    </tr>
                }
            }
        
        </table>
    }
}