@using System.Security.Claims;
@model IEnumerable<IllinoisProject.Models.AccountBlogPost>

<link rel="stylesheet" href="~/css/NavBar.css" />
<link rel="stylesheet" href="~/css/Draft.css" />

<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
                <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
            else
            {
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
        </div>
        <div class="navbar-right">
            <!-- Only shows account stuff if the user is logged in-->
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
                <a asp-controller="Account" asp-action="MyAccount">MyAccount</a>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login">Login</a>
                <a asp-controller="Account" asp-action="Register">Register</a>
            }
        </div>
    </div>
</nav>

<h3>Drafts</h3>
@if (!Model.Any())
{
    <p>No Blogs yet.</p>
}
else
{
    <table border="1">
        <tr>
            <th>Date Drafted</th>
            <th>Blog name</th>
            <th>Blog Description</th>
            <th>Account Name</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Publish</th>
        </tr>
        @foreach (var accountBlogPost in Model.Where(abp => abp.Account.Id == User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
        {
            <tr>
                <td>@accountBlogPost.BlogPost.PostDate</td>
                <td>@accountBlogPost.BlogPost.BlogName</td>
                <td>@accountBlogPost.BlogPost.BlogDescription</td>
                <td>@accountBlogPost.Account.Name</td>
                <td><a asp-action="EditBlogPost" asp-route-id="@accountBlogPost.BlogPost.Id">Edit</a></td>
                <td><a asp-action="DeleteBlogPost" asp-route-id="@accountBlogPost.BlogPost.Id">Delete</a></td>
                <td>
                    @if (accountBlogPost.BlogPost.Draft)
                    {
                        <a asp-action="PublishDraft" asp-route-id="@accountBlogPost.BlogPost.Id">Publish</a>
                    }
                </td>
            </tr>
        }
    </table>
}
