@model IEnumerable<IllinoisProject.Models.BlogPost>
<link rel="stylesheet" href="~/css/site.css" />

<div class="my-blog-container">
    <h3>My Published Blogs</h3>
    @{
        if (Model.Count() < 1)
        {
            <p>No Blogs yet.</p>
        }
        else
        {
            <table class="my-blog-table">
                <tr>
                    <th>Date Posted</th>
                    <th>Blog name</th>
                    <th>Blog Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                @{
                    foreach (var blogPost in Model)
                    {
                        <tr>
                            <td>@blogPost.PostDate</td>
                            <td>@blogPost.BlogName</td>
                            <td>@blogPost.BlogDescription</td>

                            <td><a asp-action="EditBlogPost" asp-route-id="@blogPost.BlogPostId" class="action-link-edit">Edit</a></td>
                            <td><a asp-action="DeleteBlogPost" asp-route-id="@blogPost.BlogPostId" class="action-link-delete">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        }
    }
</div>