@model IllinoisProject.Models.AccountBlogPost
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/NavBar.css" />
<link rel="stylesheet" href="~/css/ViewBlogPost.css" />

<nav class="navbar">
    <div class="navbar-links">
        <div class="navbar-left">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="BlogPost" asp-action="MyBlogPost">My Posts</a>
                <a asp-controller="BlogPost" asp-action="AddBlogPost"> Add a Blog </a>
                <a asp-controller="BlogPost" asp-action="AllDraft"> Drafts </a>
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
            else
            {
                <a asp-controller="BlogPost" asp-action="AllBlogPost"> All Blogs </a>
            }
        </div>
        <div class="navbar-right">
            <div class="navbar-right">
                <!-- Only shows account stuff if the user is logged in-->
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="AllAccount">View All Accounts</a>
                    <a asp-controller="Account" asp-action="MyAccount">MyAccount</a>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login">Login</a>
                    <a asp-controller="Account" asp-action="Register">Register</a>
                }
            </div>
        </div>
    </div>
</nav>

<div class="blog-post-container">
    <h1>@Model.BlogPost.BlogName</h1>
    <p class="post-date">Posted on: @Model.BlogPost.PostDate.ToShortDateString()</p>
    <p class="author-name">Author: @Model.Account.Name</p>
    <div class="blog-description">
        @Model.BlogPost.BlogDescription
    </div>

    <h2>Comments</h2>
    <div class="comments-section">
        @if (Model.BlogPost.Comments.Any())
        {
            foreach (var comment in Model.BlogPost.Comments)
            {
                <div class="comment">
                    <p>@comment.CommentDescription</p>
                     <p class="comment-info">Posted by @comment.Account.Name on @comment.dateTime</p> 
                </div>
            }
        }
        else
        {
            <p>No comments yet. Be the first to comment!</p>
        }
    </div>

    <!-- Form to add a new comment -->
    @using (Html.BeginForm("AddComment", "BlogPost", FormMethod.Post))
    {
        <input type="hidden" name="blogPostId" value="@Model.BlogPost.Id" />
        <textarea name="commentDescription" placeholder="Add a comment..."></textarea>
        <input type="submit" value="Add Comment" />
    }
</div>


